<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <title>E-CURE</title>
</head>

<body>
    <div class="w-full h-full text-center">
        <h1 class="text-5xl my-20">SELAMAT DATANG</h1>
        <div class="flex justify-center">
            <div class=" flex border border-slate-600 justify-center p-5 w-1/2 h-96 rounded-md">
                <div class="flex gap-10">
                    <!-- Start Image -->
                    <div class="w-1/2">
                        <img class="w-full h-full rounded-sm" src="https://source.unsplash.com/360x200?logo"
                            alt="logo">
                    </div>
                    <!-- End Image -->
                    <div class="w-1/2 relative">
                        <!-- Start Form -->
                        <form>
                            <div class="mb-5 flex-col">
                                <label for="username" class="text-gray-400 font-semibold">Your Username</label>
                                <input type="text" id="username" class="rounded-sm mt-2 w-full" placeholder="Username">
                            </div>
                            <div class="mb-5">
                                <label for="password" class="text-gray-400 font-semibold">Your Password</label>
                                <input type="password" id="password" class="rounded-sm mt-2 w-full" placeholder="Password">
                            </div>
                        </form>
                        <!-- End Form -->
                        <!-- Start Button -->
                        <button type="submit"
                            class="absolute bottom-10 left-0 bg-orange-600 px-10 py-1 rounded-sm text-white">Submit</button>
                        <button class="absolute bottom-11 right-0 text-blue-900 font-semibold">Belum punya akun ?</button>
                        <!-- End Button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Script Start -->
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <!-- Script End -->
</body>

</html>